/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --bg-app: #020617; /* slate-950 */
  --bg-surface: #020617;
  --bg-elevated: #020617;
  --text-main: #e5e7eb; /* slate-200 */
}

body {
  @apply bg-slate-950 text-slate-50;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}